$feature-flags: (
  grid-columns-16: true,
);

@import 'carbon-components/scss/globals/scss/styles.scss';

.input-row__gap{
  margin-bottom: 1em;
}

svg.my-custom-class {
  fill: #0F62FE;
}

.icon_text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #0F62FE;
}

.button__fullwidth{
  width: 100%;
  max-width: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

.side__menu{
  background-color: #161616;
  min-height: 97.3vh;
}